# Do not remove or rename entries in this file, only add new ones
# See https://github.com/flutter/flutter/issues/128635 for more context.

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/api_docs.zip
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!.vscode/settings.json
android/.gradle/7.6.3/executionHistory/executionHistory.bin
android/.gradle/7.6.3/executionHistory/executionHistory.lock
android/.gradle/7.6.3/fileHashes/fileHashes.bin
android/.gradle/7.6.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/7.6.3/executionHistory/executionHistory.bin
android/.gradle/7.6.3/executionHistory/executionHistory.lock
android/.gradle/7.6.3/fileHashes/fileHashes.bin
android/.gradle/7.6.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/7.6.3/executionHistory/executionHistory.bin
android/.gradle/7.6.3/executionHistory/executionHistory.lock
android/.gradle/7.6.3/fileHashes/fileHashes.bin
android/.gradle/7.6.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/cache.dill.track.dill
build/app/generated/source/buildConfig/debug/com/example/datediary/BuildConfig.java
build/app/intermediates/app_metadata/debug/app-metadata.properties
build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/compatible_screen_manifest/debug/output-metadata.json
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/debug/mergeDebugResources/merger.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values/values.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-af/values-af.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-am/values-am.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ar/values-ar.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-as/values-as.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-az/values-az.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-be/values-be.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bg/values-bg.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bn/values-bn.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bs/values-bs.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ca/values-ca.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-cs/values-cs.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-da/values-da.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-de/values-de.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-el/values-el.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es/values-es.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-et/values-et.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fa/values-fa.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fi/values-fi.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr/values-fr.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gl/values-gl.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gu/values-gu.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hi/values-hi.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hr/values-hr.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hu/values-hu.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hy/values-hy.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-in/values-in.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-is/values-is.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-it/values-it.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-iw/values-iw.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ja/values-ja.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ka/values-ka.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kk/values-kk.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-km/values-km.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kn/values-kn.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ko/values-ko.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ky/values-ky.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lo/values-lo.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lt/values-lt.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lv/values-lv.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mk/values-mk.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ml/values-ml.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mn/values-mn.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mr/values-mr.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ms/values-ms.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-my/values-my.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nb/values-nb.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ne/values-ne.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nl/values-nl.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-or/values-or.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pa/values-pa.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pl/values-pl.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt/values-pt.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ro/values-ro.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ru/values-ru.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-si/values-si.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sk/values-sk.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sl/values-sl.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sq/values-sq.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sr/values-sr.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sv/values-sv.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ta/values-ta.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-te/values-te.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-th/values-th.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tl/values-tl.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tr/values-tr.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uk/values-uk.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ur/values-ur.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uz/values-uz.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v21/values-v21.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-vi/values-vi.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zu/values-zu.xml
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/app/intermediates/merged_manifest/debug/AndroidManifest.xml
build/app/intermediates/merged_manifests/debug/AndroidManifest.xml
build/app/intermediates/merged_manifests/debug/output-metadata.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-af.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-am.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ar.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-as.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-az.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+sr+Latn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-be.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bg.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ca.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-cs.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-da.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-de.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-el.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rAU.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rCA.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rGB.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rIN.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rXC.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rUS.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-eu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr-rCA.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hy.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-in.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-is.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-it.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-iw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ja.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ka.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-km.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ko.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ky.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lo.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lt.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ml.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ms.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-my.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nb.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ne.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-night-v8.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-or.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pa.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rBR.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rPT.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ro.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ru.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-si.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sq.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ta.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-te.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-th.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tl.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tr.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uk.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ur.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uz.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v21.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-vi.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rCN.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rHK.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rTW.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zu.json
build/app/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
build/app/intermediates/merged_res_blame_folder/debug/out/single/debug.json
build/app/intermediates/packaged_manifests/debug/AndroidManifest.xml
build/app/intermediates/packaged_manifests/debug/output-metadata.json
build/app/intermediates/processed_res/debug/out/output-metadata.json
build/app/intermediates/runtime_symbol_list/debug/R.txt
build/app/intermediates/source_set_path_map/debug/file-map.txt
build/app/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/app/kotlin/compileDebugKotlin/cacheable/last-build.bin
build/app/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
build/app/kotlin/compileDebugKotlin/local-state/build-history.bin
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/apk/debug/output-metadata.json
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk.sha1
build/app/outputs/logs/manifest-merger-debug-report.txt
build/flutter_plugin_android_lifecycle/generated/source/buildConfig/debug/io/flutter/plugins/flutter_plugin_android_lifecycle/BuildConfig.java
build/flutter_plugin_android_lifecycle/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/flutter_plugin_android_lifecycle/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
build/flutter_plugin_android_lifecycle/intermediates/aar_metadata/debug/aar-metadata.properties
build/flutter_plugin_android_lifecycle/intermediates/compile_symbol_list/debug/R.txt
build/flutter_plugin_android_lifecycle/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
build/flutter_plugin_android_lifecycle/intermediates/incremental/debug/packageDebugResources/merger.xml
build/flutter_plugin_android_lifecycle/intermediates/local_only_symbol_list/debug/R-def.txt
build/flutter_plugin_android_lifecycle/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/flutter_plugin_android_lifecycle/intermediates/merged_consumer_proguard_file/debug/proguard.txt
build/flutter_plugin_android_lifecycle/intermediates/merged_manifest/debug/AndroidManifest.xml
build/flutter_plugin_android_lifecycle/intermediates/packaged_manifests/debug/output-metadata.json
build/flutter_plugin_android_lifecycle/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/flutter_plugin_android_lifecycle/outputs/logs/manifest-merger-debug-report.txt
build/image_picker_android/generated/source/buildConfig/debug/io/flutter/plugins/imagepicker/BuildConfig.java
build/image_picker_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/image_picker_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
build/image_picker_android/intermediates/aar_metadata/debug/aar-metadata.properties
build/image_picker_android/intermediates/compile_symbol_list/debug/R.txt
build/image_picker_android/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
build/image_picker_android/intermediates/incremental/debug/packageDebugResources/merger.xml
build/image_picker_android/intermediates/local_only_symbol_list/debug/R-def.txt
build/image_picker_android/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/image_picker_android/intermediates/merged_manifest/debug/AndroidManifest.xml
build/image_picker_android/intermediates/packaged_manifests/debug/output-metadata.json
build/image_picker_android/intermediates/packaged_res/debug/xml/flutter_image_picker_file_paths.xml
build/image_picker_android/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/image_picker_android/outputs/logs/manifest-merger-debug-report.txt
build/path_provider_android/generated/source/buildConfig/debug/io/flutter/plugins/pathprovider/BuildConfig.java
build/path_provider_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/path_provider_android/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
build/path_provider_android/intermediates/aar_metadata/debug/aar-metadata.properties
build/path_provider_android/intermediates/compile_symbol_list/debug/R.txt
build/path_provider_android/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
build/path_provider_android/intermediates/incremental/debug/packageDebugResources/merger.xml
build/path_provider_android/intermediates/local_only_symbol_list/debug/R-def.txt
build/path_provider_android/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/path_provider_android/intermediates/merged_manifest/debug/AndroidManifest.xml
build/path_provider_android/intermediates/packaged_manifests/debug/output-metadata.json
build/path_provider_android/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/path_provider_android/outputs/logs/manifest-merger-debug-report.txt
build/sqflite/generated/source/buildConfig/debug/com/tekartik/sqflite/BuildConfig.java
build/sqflite/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/sqflite/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
build/sqflite/intermediates/aar_metadata/debug/aar-metadata.properties
build/sqflite/intermediates/compile_symbol_list/debug/R.txt
build/sqflite/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
build/sqflite/intermediates/incremental/debug/packageDebugResources/merger.xml
build/sqflite/intermediates/local_only_symbol_list/debug/R-def.txt
build/sqflite/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/sqflite/intermediates/merged_manifest/debug/AndroidManifest.xml
build/sqflite/intermediates/packaged_manifests/debug/output-metadata.json
build/sqflite/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
build/sqflite/outputs/logs/manifest-merger-debug-report.txt
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/.filecache
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/app.dill
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/kernel_snapshot_program.d
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/kernel_snapshot_program.stamp
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/native_assets.yaml
.dart_tool/flutter_build/6bc78c34864fee3ca829246e9db8624f/program.dill
android/.gradle/7.6.3/executionHistory/executionHistory.bin
android/.gradle/7.6.3/executionHistory/executionHistory.lock
android/.gradle/7.6.3/fileHashes/fileHashes.bin
android/.gradle/7.6.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
